spring:
  main:
    web-application-type: reactive

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/auth/**

            - id: blog
              uri: lb://BLOG-SERVICE
              predicates:
                - Path=/blog/**

            - id: comment
              uri: lb://COMMENT-SERVICE
              predicates:
                - Path=/comment/**

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
